{% extends 'layout/base.html' %} {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Panel de Administración</title>
  <link rel="stylesheet" type="text/css" href="{% static 'base/assets/css/styles.css' %}" />
</head>

<body>
  {% block content %}
  <div class="container text-center py-3">
    <h1>PANEL DE ADMINISTRACIÓN</h1>
  </div>

  <div class="container">
    <h3>Estadísticas de Inmuebles</h3>
    <p><strong>Total de Inmuebles:</strong> {{ total_inmuebles }}</p>
    <p><strong>Inmuebles Arrendados:</strong> {{ inmuebles_arrendados }}</p>
    <p>
      <strong>Inmuebles Sin Arrendar:</strong> {{ inmuebles_sin_arrendar }}
    </p>
    <p>
      <strong>Precio mensual promedio de Inmuebles:</strong> ${{ promedio_precio_inmuebles }} CLP
    </p>
    <h3 class="text-center">RESUMEN DE INFORMACIÓN</h3>
    <br>
    <div class="row text-center">
      <div class="col-4 col-sm-12 col-xl-4">
        <h5>Inmuebles Arrendados vs Sin Arrendar</h5>
        <img src="data:image/png;base64,{{ graph_inmuebles }}" style="width: 100%;" alt="Gráfico de Inmuebles" />
      </div>
      <div class="col-4 col-sm-12 col-xl-4">
        <h5>Inmuebles por Tipo de Inmueble</h5>
        <img src="data:image/png;base64,{{ graph_tipo_inmuebles }}" style="width: 100%;"
          alt="Número de Inmuebles por Tipo">
      </div>
      <div class="col-4 col-sm-12 col-xl-4">
        <h5>Precio promedio de Inmuebles por Tipo</h5>
        <img src="data:image/png;base64,{{ graph_precio_tipo_inmuebles }}" style="width: 100%;"
          alt="Precio Promedio de Inmuebles por Tipo">
      </div>
    </div>

  </div>
  {% endblock %}
</body>

</html>