{% extends 'layout/base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="{% static 'base/assets/css/styles.css' %}" />
</head>

<body>
  {% block content %}
  <div class="container text-center py-3">
    <h1>PANEL DE ADMINISTRACIÓN</h1>
  </div>
  <div class="container">
    <h5>Editar Inmueble</h5>
    <h4>{{inmueble.nombre}}</h4>

    <form method="POST">
      {% csrf_token %} {{form}}
      <input type="submit" class="btn btn-dark" value="Actualizar inmueble" />
    </form>
  </div>
  {% endblock %}
</body>

</html>