/*INICIO*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}
/*x*/

/*INDEX - BIENVENIDOS*/
.texto_sobreimagen img {
  justify-self: center;
  position: relative;
  display: block;
  text-align: center;
  width: auto;
  max-width: 1700px;
  height: 500px;
}

.centrado h3 {
  /*background-color: rgba(255, 255, 255, 0.596);*/
  opacity: 70%;
  text-align: center;
  font-size: 70px;
  font-weight: 300;
  display: block;
  position: absolute;
  top: 220px;
  left: 0;
  width: 100%;
}

/*CARD DE INMUEBLES*/
.card-postre {
  height: 300px;
  width: 370px;
}

.card-postre img {
  height: 300px;
  width: auto;
  border-radius: 0%;
}

#contenido_texto_card {
  width: 370px;
  border: none;
  border-radius: 0%;
  padding: 5%;
}

.container_cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#division_color {
  width: 100%;
  background: linear-gradient(#ffff 50%, #5a6c57 50%);
}

.container_cards a {
  text-decoration: none;
}

.ubicacion p {
  font-size: large;
  font-weight: 500;
  color: #736d67;
}

.direccion {
  height: 100px;
}

.division_nombreflan_descripcion {
  height: 2px;
  color: #09abe7;
  background-color: #09abe7;
}

/*CIUDADES*/
.ciudades img {
  height: 300px;
  border-radius: 1%;
}

/*SERVICIO PERSONALIZADO*/
.servicio_personalizado {
  background-color: #5a6c57;
  color: #ffff;
  height: 550px;
}

.servicio_personalizado p {
  text-align: justify;
  font-size: large;
}

.descripcion_marawa h5 {
  text-align: justify;
}

.servicio_personalizado_small {
  background-color: #5a6c57;
  color: #ffff;
}

/*CARACTERISTICA INMUEBLE*/
#carouselExample img {
  max-height: 450px;
  justify-self: center;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}

/*Perfil de Usuario*/
.modificar_perfil_link a {
  color: black;
  text-decoration: none;
}

/*FOOTER*/
.explorar_footer p a {
  text-decoration: none;
  color: black;
  font-size: small;
}

.contacto_footer p {
  font-size: small;
}
