{% extends 'layout/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="{% static 'base/assets/css/styles.css' %}" />
</head>

<body>
  {% block content %}
  <div class="container">
    <h1>Contacto</h1>
    <div class="container">
      <!--Formulario para contacto del usuario-->
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-dark">Enviar</button>
      </form>
    </div>
  </div>

  {% endblock %}
</body>

</html>