{% extends 'layout/base.html' %}
<!---->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'base/assets/css/styles.css' %}"
    />
  </head>

  <body>
    {% block content %}
    <div class="container">
      <hr />
      <h1>Envío Exitoso</h1>
      <p>Gracias por contactarte con MarawaHomes, te contactaremos en breve.</p>
    </div>
    {% endblock %}
  </body>
</html>
