{% extends 'layout/base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <!--Enlace archivo css en carpeta static-->
  <link rel="stylesheet" type="text/css" href="{% static 'base/assets/css/styles.css' %}" />
</head>

<body>
  {% block content %}
  <div class="container">
    <h3 class="py-3">RM - Región Metropolitana </h3>
    <div class="row">
      <div class="col-md-12 search">
        <form method="get">
          <div id=" custom-search-input">
            <div class="input-group col-md-12">
              <input type="text" class="form-control" placeholder="Busqueda por comuna..." id="name" name="buscar"
                value="{{request.GET.buscar}}">
              <span class="input-group-list">
                <i class="icon icon-search"></i>
                <button type="submit" class="btn btn-dark">Buscar</button>
              </span>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="cards" class=" pb-5">

    <div class="container container_cards">
      {% if inmuebles_disponibles %}
      <!--CARDS de Productos 2-->
      <div class="row">
        {% for inmuebles in inmuebles_disponibles %}
        <div class="col-md-6 col-sm-12 col-xl-4 my-2 px-4 justify-content-center">
          <a href="{% url 'caracteristica_inmueble' inmuebles.id %}">
            <div class="card card-postre">
              <img src="{{ inmuebles.imagen_portada }}" class="card-img-top responsive" alt="...">
            </div>
          </a>
          <a href="{% url 'caracteristica_inmueble' inmuebles.id %}">
            <div class="card pb-5" id="contenido_texto_card">
              <div class="ubicacion pt-2">
                <p><i class="fa-solid fa-location-dot"></i> {{inmuebles.region.identificador}}, Región.
                  {{inmuebles.comuna}} </p>
              </div>
              <div class="direccion">
                <h5 class="card-title" style="color: #1abc9c;">$ {{ inmuebles.precio_mensual }}</h5>
                <h5 class="card-title">{{ inmuebles.direccion }}</h5>

              </div>
              <div class="container">
                <div class="row">
                  <div class="col-3">
                    <button class="btn btn-light" type="submit" style="width:70px;"> <i class=" fa-solid fa-bed"></i>
                      {{inmuebles.habitaciones }} </button>
                  </div>
                  <div class="col-3">
                    <button class="btn btn-light" type="submit" style="width:70px;"> <i class="fa-solid fa-bath"></i>
                      {{inmuebles.banos}}
                    </button>
                  </div>
                  <div class="col-4">
                    <button class="btn btn-light" type="submit" style="width:100px;"> <i
                        class="fa-solid fa-compress"></i>
                      {{inmuebles.m2_construidos }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      {%else%}
      <h4>No hay inmuebles en esta ubicación</h4>
      {%endif%}
    </div>

  </div>

  {% endblock %}
</body>

</html>